.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.spinner {
  width: 10rem;
  display: block;
  margin: 15rem auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#order-item .card-content {
  padding-bottom: 10px;
}

.heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: teal;
  font-weight: 500;
}

.modal {
  min-width: 65%;
  max-height: 80%;
  height: 80% !important;
}

.modal .modal-footer {
  padding: 4px 1rem;
}

label[for="add"] {
  display: none;
  opacity: 0;
  padding: 0.2rem;
  margin-right: 0.4rem;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: opacity 0.5s ease-in-out;
}

.alert {
  max-width: 50% !important;
  min-width: 30%;
  margin: auto;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.primary {
  background-color: #fff3cd;
  color: #856404;
}

.danger {
  background-color: #f44336;
  color: white;
}

.lead {
  font-size: 1.3rem;
  font-weight: 400;
}

.fixed-action-btn {
  bottom: 70px !important;
}

.main {
  flex: 1 0 auto;
}

#showcase {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

#showcase::before {
  content: "";
  position: absolute;
  background: url("./showcase.jpg") center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .card-container {
  height: 80%;
}

#showcase .card {
  width: 60rem;
  max-width: 70rem !important;
  margin: auto;
}

#showcase .card h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase !important;
}

#showcase .card .btn:hover {
  background-color: #fff !important;
  color: #00695c;
  border-bottom: 5px solid #00695c;
}

.form-container {
  margin: 2rem auto;
}

.form-container .card {
  box-shadow: none;
  border: none;
}

.form-container .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  padding: 0.75rem;
}

/* Responsiveness */
@media (max-width: 468px) {
  .card .card-content p {
    margin-top: 5px;
  }
  .submitBtn {
    width: 100%;
  }
  .section-grid-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .section-grid-1 {
    grid-template-columns: 1fr !important;
  }
  #order-item .card-content {
    padding-bottom: 10px;
    min-height: 145px !important;
  }
  #order-item .card-reveal .card-title {
    font-size: 17px;
  }
  #order-item .card-reveal .secondary-content {
    float: none;
  }
}
